[build]
  command = "npm run build"
  publish = "dist/public"
  functions = "netlify/functions"

[functions]
  node_bundler = "none"

[[plugins]]
  package = "@netlify/plugin-emails"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
